p{
    color: maroon;
}
h1, h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    /* text-align: center; */
    /* text-decoration: overline; */
}

h1{
    border-bottom: 5px solid black;

}
p.greentea{
    color: green;
}

p.redberry{

    color: rgb(149, 35, 167);
}
